# Copyrighted binary and regeneratable build output - never commit these.
*.apk
*.apk.idsig
*.part
apktool.jar
*.keystore
v14_decoded/
verify_extract/
verify2/
verify3/
new_dex_extract/
orig_dex_extract/
dist/
